@import "../../variables";

// https://github.com/webpack-contrib/css-loader/issues/167
:global .login-background {
  background: url(./login-bg.jpg);
}

.root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 50px;
    border-radius: 5px;
    border: 1px solid @borderColor;
    background: #fff;
  }
  h1 {
    padding-bottom: 16px;
    text-align: center;
  }
  .error-message {
    height: 30px;
    text-align: center;
    color: red;
  }
}